In [1]:
import pandas as pd

# import data set breast_cancer.csv

In [2]:
df = pd.read_csv('breast_cancer.csv')
df.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,outcome
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,1
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,1
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,1
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,1
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,1

# saperate X and y

In [3]:
X = df.iloc[:,:-1]
y = df.outcome

# train test split test_size=0.3 random_state=10

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=10)

# training the model

- to bring up documentation shift+tab

In [44]:
from sklearn.ensemble import RandomForestClassifier

# initialize the model
model = RandomForestClassifier(
    random_state=15,
    n_estimators=70,
    max_depth=10
)

# fit the model
model.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, n_estimators=70, random_state=15)

# evaluation

In [45]:
y_predict = model.predict(X_test)

In [46]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predict)

0.9824561403508771

In [16]:
pd.crosstab(y_test, y_predict)

col_0      0   1
outcome
0        109   3
1          0  59

# To predict continious vars

In [47]:
df_cars = pd.read_csv('mtcars.csv')
df_cars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [52]:
X = df_cars.drop(columns=['mpg','model'],axis=1)
X.head(2)

   cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0    6  160.0  110   3.9  2.620  16.46   0   1     4     4
1    6  160.0  110   3.9  2.875  17.02   0   1     4     4

In [53]:
y = df_cars.mpg

In [58]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=10)

In [69]:
from sklearn.ensemble import RandomForestRegressor

# initialize the model
model_cars = RandomForestRegressor(
    random_state=15,
    n_estimators=200
)

# fit the model
model_cars.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200, random_state=15)

In [70]:
y_predict = model_cars.predict(X_test)

In [71]:
from sklearn.metrics import r2_score

r2_score(y_test, y_predict)

0.23476287571302745

In [72]:
X.head(2)

   cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0    6  160.0  110   3.9  2.620  16.46   0   1     4     4
1    6  160.0  110   3.9  2.875  17.02   0   1     4     4

In [73]:
model.predict([[4,150,200,3.5,3.0,20,1,0,4,6]])

array([15.995])