In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('car_evaluation.csv')
df.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [4]:
df.outcome.unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [6]:
df.lug_boot.unique()

array(['small', 'med', 'big'], dtype=object)

In [10]:
df.buying.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [8]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [9]:
df.shape

(1728, 7)

# Saperate Predictors and Target

In [147]:
X = df.loc[:,['buying', 'maint','persons','lug_boot','safety']]
y = df.outcome

In [148]:
X.head(2)

  buying  maint  persons lug_boot safety
0  vhigh  vhigh        2    small    low
1  vhigh  vhigh        2    small    med

In [149]:
y.head(2)

0    unacc
1    unacc
Name: outcome, dtype: object

# Label Encoding

In [150]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [151]:
X.buying = le.fit_transform(X.buying)

In [152]:
X.maint = le.fit_transform(X.maint)

In [153]:
X.lug_boot = le.fit_transform(X.lug_boot)
X.safety = le.fit_transform(X.safety)

In [154]:
X.head()

   buying  maint  persons  lug_boot  safety
0       3      3        2         2       1
1       3      3        2         2       2
2       3      3        2         2       0
3       3      3        2         1       1
4       3      3        2         1       2

# Split data

In [155]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=47)

# Training

In [156]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)

# Evaluation

In [146]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predict)

0.7052023121387283

In [133]:
# from sklearn.metrics import confusion_matrix
# confusion_matrix(y_test, y_predict)

In [134]:
pd.crosstab(y_test, y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       66     2      5      1
good       1    11      1      1
unacc     11     1    235      0
vgood      2     0      2      7

In [135]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

         acc       0.82      0.89      0.86        74
        good       0.79      0.79      0.79        14
       unacc       0.97      0.95      0.96       247
       vgood       0.78      0.64      0.70        11

    accuracy                           0.92       346
   macro avg       0.84      0.82      0.83       346
weighted avg       0.92      0.92      0.92       346